<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <div class="form-container">
        <h2>Cadastro</h2>
        <form action="{{ url_for('editar_usuario') }}" method="POST">
            <div>
                <input type="hidden" name="id" value="{{ usuario.id }}">
            </div>
            <div class="form-group">
                <label>Nome completo</label>
                <input type="text" name="nome" value="{{ usuario.nome }}">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" value="{{ usuario.email }}">
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" name="senha" value="{{ usuario.senha }}">
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" name="telefone" value="{{ usuario.telefone }}">
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>
