<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <div class="menu-container">
        <h1>LISTA DE USUÁRIOS</h1>
        <table>
            <thead>
                <tr>
                    <th>ID.</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telefone }}</td>
                    <td>
                        <a href="{{url_for('editar', id=user.id)}}">Editar</a>
                    </td>
                    <td>
                    <a href="/usuario/deletar/{{ user.id }}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
                <a href="/index">Voltar para o menu</a>
    </div>

</body>
</html>
