<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="form-container">
        <h2>Produtos</h2>
        <form>
            <div class="form-group">
                <label>Código</label>
                <input type="number">
            </div>

            <div class="form-group">
                <label>Descrição</label>
                <input type="text">
            </div>

            <div class="form-group">
                <label>Preço</label>
                <input type="number" step="0.01">
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>